:root {
    --basic-color: #000000;
    --basic-background-color: #ffffff;
    --basic-color-in-black: #ffffff;
    --font-family-cuprum: "Cuprum", sans-serif;
    --font-family-PT: "PT Sans", sans-serif;
    --main-menu-background: #32425c;
    --headding-color: #32425C;
    --old-price-color: #A9A9A9;
    --catalog-filter-background: #F7F3EC;
    --basic-red-button: #EE3643;
    --basic-section-color: #F2F6F8;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--basic-color);
    background-color: var(--basic-background-color);
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* шапка */

.header-wrapper {
    background-color: var(--basic-section-color);
    width: 100%;
    height: 320px;
}

.head-wrapper {
    display: flex;
    width: auto;
    height: 42px;
    background-color: #293449;
    color: var(--basic-color-in-black);
    margin-bottom: 43px;
}

.head-wrapper__items {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.head-wrapper__left {
    display: flex;
    position: relative;
    width: 470px;
    margin-left: 129px;
}

.head-wrapper__logo {
    display: block;
    color: var(--basic-color-in-black);
    background-color: #ee3643;
    width: 220px;
    max-height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 32px;
    padding-left: 60px;
    margin: 0;
}

.head-wrapper__right-bookmarks:hover::before, .head-wrapper__right-basket:hover::before {
    opacity: 1;
}

.head-wrapper__logo:active {
    background: #BA2732;
    border-bottom-color: #8d1e26;
}

.head-wrapper__search {
    margin-left: 13px;
    cursor: pointer;
}

.head-wrapper__search input:focus {
    background-image: url(../img/index-icon-search-focus.png);
}

.head-wrapper__search input:hover {
    background-image: url(../img/icon-search-hover.png);
}

.head-wrapper__search input {
    width: 230px;
    height: 42px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    background: inherit;
    background-image: url(../img/index-icon-search.png);
    background-repeat: no-repeat;
    background-position: 5px 12px;
    border: none;
}

.head-wrapper__search input::-webkit-input-placeholder {
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-color-in-black);
    background-color: #293449;
}

.head-wrapper__search input:focus, .head-wrapper__search input:focus::-webkit-input-placeholder {
    background-color: #ffffff;
    color: #000000;
    outline: none;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px
}

.head-wrapper__right {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 470px;
    min-width: 432px;
}

.head-wrapper__right-bookmarks, .head-wrapper__right-basket, .head-wrapper__right-basket-catalog {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.head-wrapper__right-bookmarks {
    margin-left: 62px;
}

.head-wrapper__right-basket {
    margin-left: 74px;
    margin-right: 26px;
}

.head-wrapper__right-basket-catalog {
    position: relative;
    background-color: #ee3643;
    width: 137px;
    height: 42px;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 9px;
    padding-left: 35px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 38px;
}

.head-wrapper__right-basket-catalog::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-cart.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 12px;
    opacity: 0.5;
}

.head-wrapper__right-bookmarks::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-bookmark.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 41px;
    opacity: 0.5;
}

.head-wrapper__right-basket::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-cart.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 195px;
    opacity: 0.5;
}

.head-wrapper__right-button {
    width: 150px;
    height: 42px;
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    background-color: #63a63e;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 19px;
    cursor: pointer;
    outline: none;
}

.head-wrapper__right-button:hover {
    background-color: #5fbb2d;
}

.head-wrapper__right-button:active {
    color: #b1d39e;
    background-color: #63a63e;
}

/* шапака серединка */

.middle-wrapper {
    display: flex;
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.middle-wrapper__about {
    font-family: var(--font-family-cuprum);
    color: #ee3643;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    width: 370px;
    margin: 0;
    padding-left: 160px;
}

.middle-wrapper__contacts {
    margin-left: 77px;
    margin-top: 10px;
    width: 280px;
}

.middle-wrapper__contacts-tel {
    position: relative;
    width: 270px;
    height: 45px;
    border: 3px solid #ffffff;
    color: #ee3643;
    font-family: var(--font-family-cuprum);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding-top: 7px;
    padding-left: 74px;
    padding-bottom: 8px;
    padding-right: 45px;
    cursor: pointer;
}

.middle-wrapper__contacts-tel::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-phone.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 41px;
}

.middle-wrapper__contacts-address {
    margin: 0 auto;
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    padding-left: 14px;
}

.middle-wrapper__login {
    position: relative;
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 125px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 48px;
    padding-bottom: 12px;
    padding-right: 27px;
    text-align: center;
    margin-left: 60px;
    margin-top: 3px;
}

.middle-wrapper__login::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-login.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 20px;
    opacity: 0.3;
}

.middle-wrapper__login:hover::before {
    opacity: 1;
}

.middle-wrapper__login:active::before {
    opacity: 0.3;
}

.middle-wrapper__reg {
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 147px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
}

.middle-wrapper__login:hover, .middle-wrapper__reg:hover {
    color: #EE3643;
}

.middle-wrapper__login:active, .middle-wrapper__reg:active {
    color: #C5C5C5;
}

.middle-wrapper__login-in {
    display: flex;
    flex-wrap: wrap;
    width: 333px;
    margin-left: 35px;
}

.middle-wrapper__login-in-user {
    display: block;
    position: relative;
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 297px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 33px;
    padding-bottom: 12px;
    padding-right: 35px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
}

.middle-wrapper__login-in-user::before {
    position: absolute;
    content: "";
    background-image: url(../img/catalog-icon-user.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;
    opacity: 0.5;
}

.middle-wrapper__login-in-user::after {
    position: absolute;
    content: "";
    background-image: url(../img/catalog-icon-login.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 262px;
    opacity: 0.3;
}

.middle-wrapper__login-in-user:hover::before, .middle-wrapper__login-in-user:hover::after {
    opacity: 1;
}

.middle-wrapper__login-in-user:active::before, .middle-wrapper__login-in-user:active::after {
    opacity: 0.3;
}

.middle-wrapper__login-in-orders:hover, .middle-wrapper__login-in-cabinet:hover {
    color: #EE3643;
}

.middle-wrapper__login-in-user:active, .middle-wrapper__login-in-orders:active, .middle-wrapper__login-in-cabinet:active {
    color: #c5c5c5;
}

.middle-wrapper__login-in-orders, .middle-wrapper__login-in-cabinet {
    display: block;
    color: #32425C;
    font-family: var(--font-family-cuprum);
    font-size: 16px;
    line-height: 18px;
    padding-top: 5px;
}


.middle-wrapper__login-in-orders {
    position: relative;
    padding-left: 55px;
    padding-right: 30px;
}

.middle-wrapper__login-in-orders::after {
    position: absolute;
    content: "";
    background-image: url(../img/dot.png);
    background-repeat: no-repeat;
    width: 6px;
    height: 7px;
    top: 12px;
    left: 143px;
}

/* шапка меню */

.navigation-wrapper {
    width: 940px;
    min-height: 60px;
    background-color: var(--main-menu-background);
    margin: 0 auto;
    box-shadow: inset 0px -5px 0px #293449;
}

.navigation-wrapper__items {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    list-style: none;
    margin: 0;
    padding-left: 33px;
    padding-right: 33px;
}

.navigation-wrapper__items li {
    margin-right: 16px;
}

.navigation-wrapper__items li:hover {
    background: #293449;
}

.navigation-wrapper__items li:active {
    background: #1D2739;
}

.navigation-wrapper__items li:last-child {
    margin-right: 0;
}

.navigation-wrapper__items a {
    display: block;
    height: 60px;
    width: auto;
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
}

.navigation-wrapper__items a:active {
    opacity: 0.5;
}

/* promo */

.promo {
    margin-top: 60px;
    margin-bottom: 37px;
}

.promo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.promo-wrapper__items {
    position: relative;
    width: 300px;
    height: 122px;
    border: none;
}

.promo-wrapper__items-name {
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-top: 20px;
    padding-left: 24px;
}

.promo-wrapper__items-about {
    display: block;
    width: 135px;
    height: 38px;
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    margin-left: 23px;
    margin-top: 13px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.promo-wrapper__items-about:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.promo-wrapper__items-about:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.promo-wrapper__items-yellow {
    background-color: #ffbf47;
    background-image: url(../img/index-promo-material.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
}

.promo-wrapper__items-blue {
    background-color: #3BBCE3;
    background-image: url(../img/index-promo-instrument.png);
    background-repeat: no-repeat;
    background-position: 87% 50%;
}

.promo-wrapper__items-violet {
    background-color: #DC91D8;
    background-image: url(../img/index-promo-tehnika.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.promo-wrapper__items-green {
    background-color: #8ED78F;
    background-image: url(../img/index-promo-sale.png);
    background-repeat: no-repeat;
    background-position: 82% 50%;
}

.promo-wrapper__items-orange {
    background-color: #FFC047;
    background-image: url(../img/index-promo-delivery.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.promo-wrapper__slider {
    position: relative;
    width: 620px;
    height: 266px;
    border: none;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.promo-wrapper__slider-name {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 22px;
    padding-left: 25px;
}

.promo-wrapper__slider-about {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-left: 25px;
    padding-top: 5px;
}

.slider-list__item {
    display: none;
}

.slider__slide-one {
    background-image: url(../img/index-promo-perforator.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 620px;
    height: 266px;
}

.slider__slide-two {
    background-image: url(../img/index-promo-dreli.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 620px;
    height: 266px;
}

.slider__slide-active {
    display: block;
    width: 100%;
}

.promo-wrapper__slider-button {
    display: block;
    width: 190px;
    height: 38px;
    background-color: var(--basic-red-button);
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding-top: 11px;
    padding-right: 44px;
    padding-bottom: 9px;
    padding-left: 44px;
    margin-top: 112px;
    margin-left: 25px;
}

.promo-wrapper__slider-button:hover, .manufacturer-wrapper__popular-button:hover, .popular__button:hover, .service-slider__button:hover, .contacts-wrapper__left-button:hover, .contacts-right__button:hover, .head-wrapper__right-basket-catalog:hover, .buy-modal-order:hover, .modal-button-send:hover {
    background-color: #CA2C37;
}

.promo-wrapper__slider-button:active, .manufacturer-wrapper__popular-button:active, .popular__button:active, .service-slider__button:active, .contacts-wrapper__left-button:active, .contacts-right__button:active, .head-wrapper__right-basket-catalog:active, .buy-modal-order:active, .modal-button-send:active {
    background-color: #BA2732;
}

.promo-wrapper__onetwo {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-bottom: 21px;
}

.promo-wrapper-left {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 410px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.promo-wrapper-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 410px;
    margin-bottom: 20px;
}

.promo-wrapper__slider-button-left {
    background: none;
    border: none;
    position: absolute;
    top: 119px;
    left: 18px;
    cursor: pointer;
    outline: none;
}

.promo-wrapper__slider-button-right {
    background: none;
    border: none;
    position: absolute;
    top: 119px;
    right: 14px;
    cursor: pointer;
    outline: none;
}

.promo-wrapper__slider-button-left:hover, .promo-wrapper__slider-button-right:hover
{
    opacity: 0.5;
}

.promo-wrapper__slider-button-left:active, .promo-wrapper__slider-button-right:active
{
    opacity: 1;
}


.new::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    background-image: url(../img/index-new.png);
    background-repeat: no-repeat;
}

.slider-choice {
    display: flex;
    position: absolute;
    width: 88px;
    height: 18px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    left: 48%;
    bottom: 31px;
}

.slider-choice__item {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.slider-choice__item:last-child {
    margin-right: 0;
}

.slider-choice__item input {
    display: none;
}

.slider-choice__item input+label::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(../img/index-slider-off.png);
    background-repeat: no-repeat;
}

.slider-choice__item input:checked+label::after {
    content: "";
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(../img/index-slider-on.png);
    background-repeat: no-repeat;
}

/* popular */

.popular {
    margin-bottom: 68px;
}

.manufacturer-wrapper__popular-heading, .popular__headding {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 89px;
    margin: 0 auto;
    background-color: #F9F5F0;
    margin-bottom: 20px;
}

.manufacturer-wrapper__popular-heading h2, .popular__headding h2 {
    margin: 0;
    font-family: var(--font-family-cuprum);
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: var(--headding-color);
    align-items: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 27px;
}

.manufacturer-wrapper__popular-button, .popular__button {
    display: block;
    width: 192px;
    height: 38px;
    background-color: var(--basic-red-button);
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    text-align: center;
    text-transform: uppercase;
    padding-top: 11px;
    padding-right: 24px;
    padding-bottom: 9px;
    padding-left: 24px;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    margin-right: 17px;
}

.manufacturer-wrapper__items, .popular__items {
    width: 940px;
    min-height: 320px;
    margin: 0 auto;
}

.popular__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    padding: 0;
}

.popular__items-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    margin-right: 20px;
}

.popular__items-item:hover, .cards__items-item:hover {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.popular__items-wrapper {
    width: 100%;
    height: 318px;
}

.popular__items-wrapper:hover .cards__hover-box {
    display: block;
}

.popular__items-item:nth-child(4n) {
    margin-right: 0;
}

.popular__items-name {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: var(--basic-color);
    width: 170px;
    margin: 0 auto;
    padding-top: 10px;
}

.popular__items-oldPrice {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--old-price-color);
    margin: 0;
    padding-top: 10px;
}

.popular__items-price {
    position: absolute;
    bottom: 20px;
    left: 45px;
    display: block;
    background-image: url(../img/index-price-button.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 141px;
    height: 38px;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    padding-top: 10px;
    padding-bottom: 10px;
}

.popular__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

/* производители */

.manufacturer {
    margin-bottom: 50px;
}

.manufacturer-wrapper {
    width: 940px;
    margin: 0 auto;
}

.manufacturer-wrapper__items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.manufacturer-wrapper__items li {
    margin-bottom: 12px;
}

.manufacturer-wrapper__items img:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturer-wrapper__items img:active {
    opacity: 0.5;
}

/* Сервисы */

.service-slider {
    height: 522px;
    margin-bottom: 71px;
    background-color: var(--basic-section-color);
}

.service-slider__head {
    padding-top: 65px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 5px;
}

.service-slider__header {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 25px;
}

.service-slider__about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
    width: 400px;
}

.service-slider__wrapper {
    width: 950px;
    margin: 0 auto;
}

.service-slider__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 280px;
    padding-top: 50px;
    padding-left: 5px;
}

.service-slider__list::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 279px;
    background-image: url(../img/index-service-decor.png);
    background-repeat: no-repeat;
    top: 4px;
    left: 236px;
}

.service-slider__item {
    display: flex;
    flex-direction: row;
    width: 240px;
    max-height: 61px;
}

.service-slider__name {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    align-items: center;
    width: 240px;
    height: 61px;
    color: var(--basic-color-in-black);
    background: #32425c;
    cursor: pointer;
    padding-top: 14px;
    padding-right: 160px;
    padding-bottom: 18px;
    padding-left: 22px;
}

.service-slider__input:checked+.service-slider__name {
    color: #32425C;
    background: #ffffff;
}

.service-slider__input:hover+.service-slider__name {
    background-color: #293449;
    color: #ffffff;
}

.service-slider__description {
    overflow: hidden;
    height: 0px;
}

.service-slider__input:checked~.service-slider__description {
    position: absolute;
    content: "";
    width: 700px;
    height: 280px;
    top: 48px;
    left: 325px;
}

.service-slider__description-name {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #868686;
    margin: 0;
    padding-bottom: 29px;
}

.service-slider__description-about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
}

.service-slider__button {
    display: block;
    background: #FF5357;
    width: 195px;
    height: 38px;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    padding-top: 10px;
    padding-bottom: 13px;
    border: none;
    border-radius: 3px;
    margin-top: 26px;
}

.delivery {
    background-image: url(../img/index-deliv.png);
    background-repeat: no-repeat;
    background-position: 65% 110%;
}

.garant {
    background-image: url(../img/index-rarant.png);
    background-repeat: no-repeat;
    background-position: 49% 50%;
}

.credit {
    background-image: url(../img/index-credit.png);
    background-repeat: no-repeat;
    background-position: 55% -407%;
}

/* Контакты */

.contacts {
    margin-bottom: 70px;
}

.contacts-wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.contacts-wrapper__left {
    width: 480px;
}

.contacts-wrapper__left-header, .contacts-right__header {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 24px;
}

.contacts-wrapper__left-about, .contacts-left__wecan, .contacts-right__about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
}

.contacts-left__about {
    width: 450px;
}

.contacts-wrapper__left-wecan {
    width: 400px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 2px;
}

.wecan-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.wecan-list__item {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-color);
    padding-bottom: 12px;
    padding-left: 36px;
}

.wecan-list__item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: #EE3643;
    left: 0;
    margin-top: 11px;
}

.contacts-wrapper__left-button, .contacts-right__button {
    display: block;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    background: var(--basic-red-button);
    padding-top: 11px;
    padding-bottom: 9px;
    width: 220px;
    height: 38px;
    margin-top: 7px;
}

.contacts-right {
    position: relative;
    width: 300px;
    margin-left: 190px;
}

.contacts-right img {
    z-index: -1;
}

.contacts-right iframe {
    position: absolute;
    z-index: 1;
}

.contacts-right__about {
    width: 181px;
    padding-bottom: 32px;
}

.contacts-right__button {
    width: 300px;
    margin-top: 17px;
}

/* footer */

.footer-up {
    background-color: var(--headding-color);
    height: 193px;
    width: auto;
}

.footer-up__wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.footer-up__left {
    width: 400px;
    height: 190px;
}

.footer-logo {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--basic-color-in-black);
    background-color: #ee3643;
    width: 220px;
    max-height: 68px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
    margin: 0;
}

.footer-adress, .footer-adress a {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F9;
    width: 330px;
    margin: 0;
    padding-top: 23px;
    padding-left: 2px;
}

.footer-up__right {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 190px;
    margin-left: 50px;
}

.footer-up__right-menu {
    display: flex;
    list-style: none;
    height: 30px;
    margin: 0;
    padding-left: 12px;
    padding-top: 38px;
    padding-bottom: 0;
}

.footer-up__right-menu li, .footer-up__right-items li {
    margin-right: 58px;
}

.footer-up__right-menu li:last-child, .footer-up__right-items li:last-child {
    margin-right: 0;
}

.footer-up__right-menu a {
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
}

.footer-up__right-menu a:hover, .footer-up__right-items a:hover, .footer-down__mail a:hover, .footer-down__author a:hover {
    text-decoration: underline;
}

.footer-up__right-menu a:active, .footer-up__right-items a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-up__right-items {
    display: flex;
    list-style: none;
    margin-top: 7px;
    padding-left: 36px;
    height: 30px;
}

.footer-up__right-items a {
    color: #FFDA96;
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
}

.footer-down {
    background: #293449;
    width: auto;
    height: 107px;
    margin: 0 auto;
}

.footer-down__wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.footer-down__copyright {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    width: 230px;
    margin-top: 36px;
}

.footer-down__contact {
    display: flex;
    margin-left: 120px;
    margin-top: 35px;
}

.footer-down__mail {
    width: 137px;
}

.footer-down__author {
    width: 98px;
}

.footer-down__mail, .footer-down__author {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    margin: 0;
}

.footer-down__mail {
    margin-right: 51px;
}

.footer-down__mail a, .footer-down__author a {
    color: #FFD180;
}

.footer-down__mail a:active, .footer-down__author a:active {
    color: #EE3643;
    text-decoration: none;
}

.footer-down__social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 130px;
    margin-top: 33px;
    margin-left: 161px;
    padding: 0;
}

.vk {
    display: block;
    width: 42px;
    height: 42px;
    background-image: url(../img/icon-vk.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #213a3a;
    border: none;
    border-radius: 50%;
}

.fb {
    display: block;
    width: 42px;
    height: 42px;
    background-image: url(../img/icon-fb.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #213a3a;
    border: none;
    border-radius: 50%;
}

.insta {
    display: block;
    width: 42px;
    height: 42px;
    background-image: url(../img/icon-insta.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #213a3a;
    border: none;
    border-radius: 50%;
}

.vk:hover, .fb:hover, .insta:hover, .vk:active, .fb:active, .insta:active {
    background-color: #ee3643;
}

/* CATALOG */

.internal-nav {
    position: relative;
    list-style: none;
    display: flex;
    width: 940px;
    padding: 0;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
}

.internal-nav__item {
    margin-right: 41px;
}

.internal-nav__item::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/catalog-right-small.png);
    margin-left: 16px;
    margin-top: 4px;
}

.internal-nav__item:last-child, .internal-nav__item:last-child::after {
    margin-right: 0;
    background: none;
}

.internal-nav__item a {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-color);
}

.catalog-header {
    width: 940px;
    height: 89px;
    background-color: var(--basic-section-color);
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--headding-color);
    margin: 0 auto;
    padding-top: 29px;
    padding-left: 30px;
}

.catalog {
    margin-top: 19px;
    margin-bottom: 60px;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 720px;
}

.filter-header {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-color);
    text-transform: uppercase;
    background-color: var(--catalog-filter-background);
    width: 220px;
    height: 38px;
    margin: 0;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.cost-filter, .company, .energy {
    border: none;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
}

.filter-name {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin-bottom: 13px;
}

.range-filter {
    width: 220px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 26px;
}

.range-controls {
    position: relative;
    height: 80px;
    background-color: var(--catalog-filter-background);
    border-radius: 5px;
    margin-bottom: 7px;
    padding-top: 38px;
    padding-right: 22px;
    padding-left: 22px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 88%;
    height: 2px;
    background: #00ca74;
}

.range-controls .switch {
    position: absolute;
    top: 28px;
    padding: 0;
    border: 10px solid #ffffff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
    width: 4px;
    height: 4px;
}

.cost {
    display: flex;
    justify-content: center;
    position: relative;
}

.cost-minus {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
}

.cost label {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color);
}

.cost input {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    width: 95px;
    height: 38px;
    padding-left: 18px;
    text-align: center;
    color: var(--basic-color);
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--catalog-filter-background);
}

.max-cost {
    margin-left: 33px;
}

.range-controls .switch-min {
    left: 18px;
}

.range-controls .switch-max {
    left: 160px;
}

/* company  */

.company-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 26px;
}

.company-list__item {
    padding-left: 35px;
    margin-bottom: 17px;
}

.company-list__item:last-child, .energy-list__item:last-child {
    margin-bottom: 0;
}

.company-list__name {
    position: relative;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-color);
    cursor: pointer;
    user-select: none;
}

.company-list__checkbox:checked+.company-list__name::after {
    position: absolute;
    top: -1px;
    left: -35px;
    content: "";
    width: 27px;
    height: 27px;
    background-image: url(../img/catalog-checkbox-on.png);
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.company-list__checkbox:checked+.company-list__name::before {
    display: none;
}

.company-list__checkbox+.company-list__name::before {
    position: absolute;
    top: -1px;
    left: -35px;
    content: "";
    width: 27px;
    height: 27px;
    background-image: url(../img/catalog-checkbox-off.png);
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

/* питание */

.energy-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 26px;
}

.energy-list__item {
    padding-left: 35px;
    margin-bottom: 17px;
}

.energy-list__name {
    position: relative;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-color);
    cursor: pointer;
    user-select: none;
}

.energy-list__radio:checked+.energy-list__name::after {
    position: absolute;
    top: -1px;
    left: -35px;
    content: "";
    width: 25px;
    height: 26px;
    background-image: url(../img/catalog-radio-on.png);
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.energy-list__radio:checked+.energy-list__name::before {
    display: none;
}

.energy-list__radio+.energy-list__name::before {
    position: absolute;
    top: -1px;
    left: -35px;
    content: "";
    width: 25px;
    height: 26px;
    background-image: url(../img/catalog-radio-off.png);
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.company-list__checkbox:checked+.company-list__name:hover::before, .company-list__checkbox+.company-list__name:hover::before, .company-list__checkbox:checked+.company-list__name:hover::after, .energy-list__radio+.energy-list__name:hover::before, .energy-list__radio:checked+.energy-list__name:hover::before, .energy-list__radio:checked+.energy-list__name:hover::after {
    opacity: 1;
}

.filter-button {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color);
    width: 220px;
    height: 38px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    outline: none;
}

/* карточки товара */

.cards__sorting {
    display: flex;
    width: 700px;
    height: 38px;
    background-color: var(--catalog-filter-background);
    border: none;
    border-radius: 3px;
}

.cards__sorting-header {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-color);
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
}

.sorting-items {
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 140px;
    padding: 0;
}

.sorting-items__item {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
    text-transform: uppercase;
    margin-right: 69px;
}

.sorting-items__item:last-child {
    margin-right: 0;
}

.sorting-items__item:nth-last-child(2) {
    margin-right: 20px;
}

.sorting-items__item:nth-last-child(2) a, .sorting-items__item:last-child a {
    border: none;
}

.sorting-items__item:nth-last-child(3) {
    margin-right: 44px;
}

.sorting-items__item a {
    color: var(--basic-color);
    border-bottom: 1px dotted red;
    opacity: 0.3;
}

.sorting-items__item a:hover {
    opacity: 1;
}

.item-active a {
    color: red;
    border: none;
    opacity: 1;
}

.cards__wrapper {
    margin-top: 28px;
    margin-bottom: 47px;
}

.cards__items {
    list-style: none;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    column-gap: 20px;
    row-gap: 18px;
    margin: 0;
    padding: 0;
}

.cards__items-item {
    position: relative;
    border: 1px solid #eaeaea;
    width: 220px;
    height: 318px;
}

.cards__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
}

.cards__name {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: var(--basic-color);
    width: 170px;
    margin: 0 auto;
    padding-top: 10px;
}

.cards__old-price {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--old-price-color);
    margin: 0 auto;
    padding-top: 10px;
}

.cards__price {
    position: absolute;
    bottom: 20px;
    left: 43px;
    display: block;
    background-image: url(../img/index-price-button.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 141px;
    height: 38px;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards__hover-box {
    display: none;
    width: 210px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 37px;
    background: white;
}

.button-buy {
    width: 135px;
    height: 38px;
    background: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    border: none;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url(../img/index-icon-cart.png);
    background-repeat: no-repeat;
    background-position: 25% 40%;
    outline: none;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    outline: none;
    cursor: pointer;
}

.button-buy:hover {
    background-color: #5FBB2D;
}

.button-buy:active {
    background-color: #518534;
}

.button-bookmark {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #32425C;
    width: 135px;
    height: 38px;
    background: transparent;
    border: 3px solid #63A63E;
    border-radius: 2px;
    margin-left: 40px;
    outline: none;
    cursor: pointer;
}

.button-bookmark:hover {
    border-color: #32425c;
}

.button-bookmark:active {
    border-color: #98a0ad;
    color: #98a0ad;
}

.cards__next-button {
    width: 284px;
    display: flex;
    justify-content: space-between;
}

.next-button-num, .next-button-word {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color);
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.next-button-num {
    width: 38px;
}

.next-button-word {
    width: 140px;
}

.next-button-num:hover, .next-button-word:hover, .filter-button:hover {
    border-color: #c5c5c5;
}

.next-button-num:active, .next-button-word:active, .filter-button:active {
    border-color: var(--basic-red-button);
}

.button-active {
    background-color: var(--basic-red-button);
    color: #ffffff;
    border: none;
}

/* о перфораторах */

.about-puncher {
    width: 100%;
    height: 261px;
    background-color: var(--basic-section-color);
}

.about-puncher__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-top: 66px;
}

.about-puncher__header {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 24px;
}

.about-puncher__about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    width: 907px;
    margin: 0;
    padding: 0;
}

/* Modal */

.modal-write {
    display: none;
    position: fixed;
    width: 620px;
    height: 430px;
    border-top: 7px solid #ff5257;
    top: auto;
    bottom: 36%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-close {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    top: 14px;
    right: -77px;
    width: 21px;
    height: 21px;
    padding: 0;
    cursor: pointer;
}

.modal-write-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
}

.writer-info {
    display: flex;
    justify-content: space-between;
    width: 460px;
    margin-top: 39px;
    margin-bottom: 13px;
}

.write-name__wrapper {
    margin: 0;
    padding: 0;
    width: 220px;
    margin-right: 17px;
}

.write-mail__wrapper {
    margin: 0;
    padding: 0;
    width: 220px;
}

.write-text__wrapper {
    margin: 0;
}

.write-name, .write-mail, .write-text {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-color);
    padding-left: 3px;
}

.write-name-input, .write-mail-input, .write-text-input {
    background: #FFFFFF;
    border: 2px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #A9A9A9;
    padding-left: 11px;
}

.write-name-input, .write-mail-input {
    width: 220px;
    height: 38px;
    margin-top: 10px;
}

.write-text-input {
    width: 460px;
    height: 114px;
    padding-bottom: 85px;
    margin-top: 10px;
}

.modal-button-send {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    border: none;
    outline: none;
    width: 460px;
    height: 38px;
    background: var(--basic-red-button);
    margin-top: 74px;
    cursor: pointer;
}

.map-popup {
    display: none;
    position: absolute;
    top: 2369px;
    right: 0;
    left: 0;
    width: 943px;
    height: 449px;
    margin: 0 auto;
    z-index: 1;
}

.map-modal-show {
    display: block;
}

.map-popup__wrapper {
    position: relative;
    border-top: 7px solid #ff5257;
}

.google-map, .img-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 943px;
    height: 449px;
}

.google-map {
    z-index: 2;
}

.img-map {
    z-index: 1;
}

.map-popup-close {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    padding: 0;
    z-index: 3;
    cursor: pointer;
}

.modal-close:hover, .map-popup-close:hover, .buy-modal-close:hover {
    opacity: 0.5;
}

.modal-close:active, .map-popup-close:active, .buy-modal-close:active {
    opacity: 1;
}

.buy-modal {
    display: none;
    position: fixed;
    top: 36%;
    right: 0;
    bottom: auto;
    left: 0;
}

.buy-modal-show {
    display: block;
}

.buy-modal__wrapper {
    position: relative;
    width: 620px;
    height: 282px;
    margin: 0 auto;
    border-top: 7px solid #ff5257;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.buy-modal-close {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    padding: 0;
    cursor: pointer;
}

.buy-modal-message {
    padding: 68px;
    margin: 0;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: var(--basic-color);
    background-image: url(../img/icon-mark.png);
    background-repeat: no-repeat;
    background-position: 80px 50%;
}

.button-wrapper {
    background: #f1f1f1;
    height: 112px;
    padding-top: 35px;
}

.buy-modal-order,  .buy-modal-continue{
    width: 192px;
    height: 38px;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buy-modal-order {
    background-color: var(--basic-red-button);
    margin-left: 113px;
    margin-right: 8px;

}

.buy-modal-continue {
    background-color: #FFFFFF;
    color: #000000;
}

.buy-modal-continue:hover {
    background-color: #DCDCDC;
}

.buy-modal-continue:active {
    background-color: #c5c5cc;
}


/* Animations */

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }