:root {
    --basic-color: #000000;
    --basic-background-color: #ffffff;
    --basic-color-in-black: #ffffff;
    --font-family-cuprum: "Cuprum", sans-serif;
    --font-family-PT: "PT Sans", sans-serif;
    --main-menu-background: #32425c;
    --headding-color: #32425C;
    --old-price-color: #A9A9A9;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--basic-color);
    background-color: var(--basic-background-color);
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* шапка */

.header-wrapper {
    background-color: #f3f7f8;
    height: 320px;
    margin-bottom: 60px;
}

.head-wrapper {
    display: flex;
    height: 42px;
    background-color: #293449;
    color: var(--basic-color-in-black);
    margin-bottom: 43px;
}

.head-wrapper__left {
    display: flex;
    position: relative;
}

.head-wrapper__logo {
    display: block;
    color: var(--basic-color-in-black);
    background-color: #ee3643;
    width: 220px;
    max-height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 129px;
}

.head-wrapper__search {
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 42px;
}

.head-wrapper__search::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-search.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 366px;
}

.head-wrapper__search input {
    background-color: #293449;
    border: none;
}

.head-wrapper__right {
    display: flex;
    justify-content: space-around;
    position: relative;
    min-width: 432px;
}

.head-wrapper__right-bookmarks, .head-wrapper__right-basket, .head-wrapper__right-basket-catalog {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.head-wrapper__right-bookmarks {
    margin-left: 60px;
}

.head-wrapper__right-basket {
    margin-left: 74px;
    margin-right: 26px;
}

.head-wrapper__right-basket-catalog {
    position: relative;
    background-color: #ee3643;
    width: 137px;
    height: 42px;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 9px;
    padding-left: 35px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 38px;
}

.head-wrapper__right-basket-catalog::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-cart.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 12px;
}

.head-wrapper__right-bookmarks::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-bookmark.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 38px;
}

.head-wrapper__right-basket::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-cart.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 195px;
}

.head-wrapper__right-button {
    width: 150px;
    height: 42px;
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    background-color: #63a63e;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 19px;
    cursor: pointer;
    outline: none;
}

/* шапака серединка */

.middle-wrapper {
    display: flex;
    margin-bottom: 40px;
}

.middle-wrapper__about {
    font-family: var(--font-family-cuprum);
    color: #ee3643;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    width: 370px;
    margin: 0;
    padding-left: 160px;
}

.middle-wrapper__contacts {
    margin-left: 77px;
    margin-top: 10px;
    width: 280px;
}

.middle-wrapper__contacts-tel {
    position: relative;
    width: 270px;
    height: 45px;
    border: 3px solid #ffffff;
    color: #ee3643;
    font-family: var(--font-family-cuprum);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding-top: 7px;
    padding-left: 74px;
    padding-bottom: 8px;
    padding-right: 45px;
    cursor: pointer;
}

.middle-wrapper__contacts-tel::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-phone.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 41px;
}

.middle-wrapper__contacts-adress {
    margin: 0 auto;
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    padding-left: 14px;
}

.middle-wrapper__login {
    position: relative;
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 125px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 48px;
    padding-bottom: 12px;
    padding-right: 27px;
    text-align: center;
    margin-left: 60px;
    margin-top: 3px;
}

.middle-wrapper__login::before {
    position: absolute;
    content: "";
    background-image: url(../img/index-icon-login.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 20px;
}

.middle-wrapper__reg {
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 147px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
}

.middle-wrapper__login-in {
    display: flex;
    flex-wrap: wrap;
    width: 333px;
    margin-left: 35px;
}

.middle-wrapper__login-in-user {
    position: relative;
    color: var(--basic-color);
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 21px;
    width: 297px;
    height: 45px;
    border: none;
    background: #ffffff;
    padding-top: 12px;
    padding-left: 33px;
    padding-bottom: 12px;
    padding-right: 35px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
}

.middle-wrapper__login-in-user::before {
    position: absolute;
    content: "";
    background-image: url(../img/Catalog-icon-user.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;
}

.middle-wrapper__login-in-user::after {
    position: absolute;
    content: "";
    background-image: url(../img/Catalog-icon-login.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 262px;
}

.middle-wrapper__login-in-orders, .middle-wrapper__login-in-cabinet {
    color: #32425C;
    font-family: var(--font-family-cuprum);
    font-size: 16px;
    line-height: 18px;
    padding-top: 5px;
}

.middle-wrapper__login-in-orders {
    position: relative;
    padding-left: 55px;
    padding-right: 30px;
}

.middle-wrapper__login-in-orders::after {
    position: absolute;
    content: "";
    background-image: url(../img/Catalog-dot.png);
    background-repeat: no-repeat;
    width: 6px;
    height: 7px;
    top: 12px;
    left: 143px;
}

/* шапка меню */

.navigation-wrapper {
    width: 940px;
    height: 60px;
    background-color: var(--main-menu-background);
    margin: 0 auto;
    box-shadow: inset 0px -5px 0px #293449;
}

.navigation-wrapper__items {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.navigation-wrapper__items li {
    padding-right: 56px;
}

.navigation-wrapper__items li:last-child {
    padding-right: 0;
}

.navigation-wrapper__items a {
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
}

/* promo */

.promo {
    margin-bottom: 37px;
}

.promo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.promo-wrapper__items {
    position: relative;
    width: 300px;
    height: 122px;
    border: none;
}

.promo-wrapper__items-name {
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-top: 20px;
    padding-left: 24px;
}

.promo-wrapper__items-about {
    display: block;
    width: 135px;
    height: 38px;
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    margin-left: 23px;
    margin-top: 13px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.promo-wrapper__items-yellow {
    background-color: #ffbf47;
    background-image: url(../img/index-promo-material.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
}

.promo-wrapper__items-blue {
    background-color: #3BBCE3;
    background-image: url(../img/index-promo-instrument.png);
    background-repeat: no-repeat;
    background-position: 87% 50%;
}

.promo-wrapper__items-violet {
    background-color: #DC91D8;
    background-image: url(../img/index-promo-tehnika.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.promo-wrapper__items-green {
    background-color: #8ED78F;
    background-image: url(../img/index-promo-sale.png);
    background-repeat: no-repeat;
    background-position: 82% 50%;
}

.promo-wrapper__items-yellight {
    background-color: #FFC047;
    background-image: url(../img/index-promo-delivery.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.promo-wrapper__slider {
    position: relative;
    width: 620px;
    height: 266px;
    border: none;
}

.promo-wrapper__slider-name {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 22px;
    padding-left: 25px;
}

.promo-wrapper__slider-about {
    font-family: var(--font-family-cuprum);
    color: var(--basic-color-in-black);
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-left: 25px;
    padding-top: 5px;
}

.slider__slide-one {
    display: none;
    background-image: url(../img/index-promo-perforator.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 620px;
    height: 266px;
}

.slider__slide-two {
    display: none;
    background-image: url(../img/index-promo-dreli.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 620px;
    height: 266px;
}

.slider__slide-active {
    display: block;
    width: 100%;
}

.promo-wrapper__slider-button {
    display: block;
    width: 190px;
    height: 38px;
    background-color: #EE3643;
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding-top: 11px;
    padding-right: 44px;
    padding-bottom: 9px;
    padding-left: 44px;
    margin-top: 112px;
    margin-left: 25px;
}

.promo-wrapper__onetwo {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-bottom: 21px;
}

.promo-wrapper-left {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 410px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.promo-wrapper-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 410px;
    margin-bottom: 20px;
}

.promo-wrapper__slider-button-left {
    background: none;
    border: none;
    position: absolute;
    top: 119px;
    left: 18px;
    cursor: pointer;
    outline: none;
}

.promo-wrapper__slider-button-right {
    background: none;
    border: none;
    position: absolute;
    top: 119px;
    right: 14px;
    cursor: pointer;
    outline: none;
}

.new::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    background-image: url(../img/index-new.png);
    background-repeat: no-repeat;
}

.slider-choice {
    display: flex;
    position: absolute;
    width: 88px;
    height: 18px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    left: 48%;
    bottom: 31px;
}

.slider-choice__item {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.slider-choice__item:last-child {
    margin-right: 0;
}

.slider-choice__item input {
    display: none;
}

.slider-choice__item input+label::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(../img/index-slider-off.png);
    background-repeat: no-repeat;
}

.slider-choice__item input:checked+label::after {
    content: "";
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(../img/index-slider-on.png);
    background-repeat: no-repeat;
}

/* popular */

.popular {
    margin-bottom: 68px;
}

.manufacturer-wrapper__popular-headding,
.popular__headding {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 89px;
    margin: 0 auto;
    background-color: #F9F5F0;
    margin-bottom: 20px;
}

.manufacturer-wrapper__popular-headding h2,
.popular__headding h2 {
    margin: 0;
    font-family: var(--font-family-cuprum);
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: var(--headding-color);
    align-items: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 27px;
}

.manufacturer-wrapper__popular-button,
.popular__button {
    display: block;
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    font-family: var(--font-family-cuprum);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    text-align: center;
    text-transform: uppercase;
    padding-top: 11px;
    padding-right: 24px;
    padding-bottom: 9px;
    padding-left: 24px;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    margin-right: 17px;
}

.manufacturer-wrapper__items,
.popular__items {
    width: 940px;
    min-height: 320px;
    margin: 0 auto;
}

.popular__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    padding: 0;
}

.popular__items-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    margin-right: 20px;
}

.popular__items-item:nth-child(4n) {
    margin-right: 0;
}

.popular__items-name {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: var(--basic-color);
    width: 170px;
    margin: 0;
    padding-top: 10px;
}

.popular__items-oldPrice {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--old-price-color);
    margin: 0;
    padding-top: 10px;
}

.popular__items-price {
    position: absolute;
    bottom: 20px;
    left: 45px;
    display: block;
    background-image: url(../img/index-price-button.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 141px;
    height: 38px;
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    padding-top: 10px;
    padding-bottom: 10px;
}

.popular__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

/* производители */

.manufacturer {
    margin-bottom: 50px;
}

.manufacturer-wrapper {
    width: 940px;
    margin: 0 auto;
}

.manufacturer-wrapper__items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.manufacturer-wrapper__items li {
    margin-bottom: 12px;
}

/* Сервисы */

.service-slider {
    height: 522px;
    margin-bottom: 71px;
    background-color: #F1F5F7;
}

.service-slider__head {
    padding-top: 65px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 130px;
}

.service-slider__header {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 25px;
}

.service-slider__about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
    width: 400px;
}

.service-slider__wrapper {
    width: 950px;
    margin: 0 auto;
}

.service-slider__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 280px;
    padding-top: 50px;
    padding-left: 5px;
}

.service-slider__list::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 279px;
    background-image: url(../img/index-service-decor.png);
    background-repeat: no-repeat;
    top: 4px;
    left: 236px;
}

.service-slider__item {
    display: flex;
    flex-direction: row;
    width: 240px;
    max-height: 61px;
}

.service-slider__name {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    align-items: center;
    width: 240px;
    height: 61px;
    color: var(--basic-color-in-black);
    background: #32425c;
    cursor: pointer;
    padding-top: 14px;
    padding-right: 160px;
    padding-bottom: 18px;
    padding-left: 22px;
}

.service-slider__input:checked+.service-slider__name {
    color: #32425C;
    background: #ffffff;
}

.service-slider__description {
    overflow: hidden;
    height: 0px;
}

.service-slider__input:checked~.service-slider__description {
    position: absolute;
    content: "";
    width: 700px;
    height: 280px;
    top: 48px;
    left: 325px;
}

.service-slider__description-name {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #868686;
    margin: 0;
    padding-bottom: 29px;
}

.service-slider__description-about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
}

.service-slider__button {
    display: block;
    background: #FF5357;
    width: 195px;
    height: 38px;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    padding-top: 10px;
    padding-bottom: 13px;
    border: none;
    border-radius: 3px;
    margin-top: 26px;
}

.delivery {
    background-image: url(../img/index-deliv.png);
    background-repeat: no-repeat;
    background-position: 81% 0%;
}

.garant {
    background-image: url(../img/index-rarant.png);
    background-repeat: no-repeat;
    background-position: 54% 50%;
}

.credit {
    background-image: url(../img/index-credit.png);
    background-repeat: no-repeat;
    background-position: 71% 25%;
}

/* Контакты */

.contacts {
    margin-bottom: 70px;
}

.contacts-wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.contacts-left {
    width: 480px;
}

.contacts-left__header, .contacts-right__header {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 24px;
}

.contacts-left__about, .contacts-left__wecan, .contacts-right__about {
    font-family: var(--font-family-PT);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-color);
    margin: 0;
    padding-bottom: 26px;
}

.contacts-left__about {
    width: 450px;
}

.contacts-left__wecan {
    width: 430px;
    padding-bottom: 2px;
}

.contacts-left__wecan-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.wecan-list__item {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-color);
    padding-bottom: 12px;
    padding-left: 36px;
}

.wecan-list__item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: #EE3643;
    left: 0;
    margin-top: 11px;
}

.contacts-left__button, .contacts-right__button {
    display: block;
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-color-in-black);
    background: #EE3643;
    padding-top: 11px;
    padding-bottom: 9px;
    width: 220px;
    height: 38px;
    margin-top: 7px;
}

.contacts-right {
    width: 300px;
    margin-left: 190px;
}

.contacts-right__about {
    width: 181px;
    padding-bottom: 32px;
}

.contacts-right__button {
    width: 300px;
    margin-top: 17px;
}

/* footer */

.footer-up {
    display: flex;
    background-color: var(--headding-color);
    height: 193px;
    width: 1200px;
}

.footer-up__left {
    width: 400px;
    height: 190px;
    margin-left: 130px;
}

.footer-logo {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--basic-color-in-black);
    background-color: #ee3643;
    width: 220px;
    max-height: 68px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
    margin: 0;
}

.footer-adress {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F9;
    width: 330px;
    margin: 0;
    padding-top: 23px;
    padding-left: 2px;
}

.footer-up__right {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 190px;
}

.footer-up__right-menu {
    display: flex;
    list-style: none;
    height: 30px;
    margin: 0;
    padding-left: 12px;
    padding-top: 38px;
    padding-bottom: 0;
}

.footer-up__right-menu li, .footer-up__right-items li {
    margin-right: 58px;
}

.footer-up__right-menu li:last-child, .footer-up__right-items li:last-child {
    margin-right: 0;
}

.footer-up__right-menu a {
    color: var(--basic-color-in-black);
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
}

.footer-up__right-items {
    display: flex;
    list-style: none;
    margin-top: 7px;
    padding-left: 36px;
    height: 30px;
}

.footer-up__right-items a {
    color: #FFDA96;
    font-family: var(--font-family-cuprum);
    font-size: 18px;
    line-height: 24px;
}

.footer-down {
    display: flex;
    background: #293449;
    width: 1200px;
    height: 107px;
    margin: 0 auto;
}

.footer-down__copyright {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    width: 230px;
    margin-top: 36px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 130px;
}

.footer-down__contact {
    display: flex;
    margin-left: 120px;
    margin-top: 35px;
}

.footer-down__mail {
    width: 137px;
}

.footer-down__author {
    width: 98px;
}

.footer-down__mail, .footer-down__author {
    font-family: var(--font-family-cuprum);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-color-in-black);
    margin: 0;
}

.footer-down__mail {
    margin-right: 51px;
}

.footer-down__mail span, .footer-down__author span {
    color: #FFD180;
}

.footer-down__social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 130px;
    margin-top: 33px;
    margin-left: 161px;
    padding: 0;
}

.vk {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/icon-vk.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fb {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/icon-fb.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.insta {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/icon-insta.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}